.navbar-container{
    background-color: #082052;
    padding: 1rem; 
    
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    & .navbar-logo{
        display: flex;
        & img{
            width: 15rem;
        }
    }
    
    & .navbar-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem;
        & a{
            color: white;
            text-decoration: none;
            font-size: 1.3rem;
            font-weight: 400;
        }
    }
}